{
    "extends": "eslint:recommended",

    "parserOptions": {
        "ecmaVersion": 2017
    },

    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "jasmine": true,
        "protractor": true
    },

    "rules": {
        "no-debugger": 0,
        "no-reserved-keys": 0
    }
    
}